<footer class="footer">
  <div class="foot-contain">
      <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 3rem; ">
          <div class="details1">
              <img src="/images/logo.jpg" alt="ConvoWave" class="logo mb-3">
              <a class="manualicons" href="mailto:hello@convowave.com"> <img src="/images/mail.png" alt=""> hello@chattrix.com</a>
              <a class="manualicons" href="tel:+9191813232309"> <img  src="/images/phone-call.png" alt=""> +91 8778390147</a>
              <a class="manualicons" href="#"> <img  src="/images/location.png" alt=""> Coimbatore</a>
          </div>
          <div>
              <h3 class="headingfoot">Home</h3>
              <ul>
                  <li>Benefits</li>
                  <li>Our Features</li>
                  <li>Our Testimonials</li>
                  <li>Our FAQ</li>
              </ul>
          </div>
          <div>
            <h3 class="headingfoot">Quick Links</h3>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/aboutUs" class="hover:text-gray-900">About Us</a></li>
                <li><a href="/features" class="hover:text-gray-900">Features</a></li>
                <!-- ...existing links... -->
            </ul>
          </div>
          <div>
              <h3  class="headingfoot">Social Profiles</h3>
              <div class="social-links">
                  <a href="#"><img class="socialicons1" src="/images/facebook.svg" alt="Facebook"></a>
                  <a href="#"><img class="socialicons2" src="/images/twitter.png" alt="Twitter"></a>
                  <a href="#"><img class="socialicons3" src="/images/linkedin.png" alt="LinkedIn"></a>       
             </div>
         </div>
      </div>
      <p style="text-align: center; margin-top: 2rem;">© 2025 Chattrix. All rights reserved.</p>
  </div>
</footer>
