<footer class="footer">
  <div class="foot-contain">
      <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 3rem; ">
          <div class="details1">
              <img src="/images/logo.jpg" alt="ConvoWave" class="logo mb-3">
              <a class="manualicons" href="mailto:hello@convowave.com"> <img src="/images/mail.png" alt=""> hello@convowave.com</a>
              <a class="manualicons" href="tel:+9191813232309"> <img  src="/images/phone-call.png" alt=""> +91 91813 23 2309</a>
              <a class="manualicons" href="#"> <img  src="/images/location.png" alt=""> Somewhere in the World</a>
          </div>
          <div>
              <h3 class="headingfoot">Home</h3>
              <ul>
                  <li>Benefits</li>
                  <li>Our Features</li>
                  <li>Our Testimonials</li>
                  <li>Our FAQ</li>
              </ul>
          </div>
          <div>
              <h3  class="headingfoot">About Us</h3>
              <ul>
                  <li>Company</li>
                  <li>Achievements</li>
                  <li>Our Goals</li>
              </ul>
          </div>
          <div>
              <h3  class="headingfoot">Social Profiles</h3>
              <div class="social-links">
                  <a href="#"><img class="socialicons1" src="/images/facebook.svg" alt="Facebook"></a>
                  <a href="#"><img class="socialicons2" src="/images/twitter.png" alt="Twitter"></a>
                  <a href="#"><img class="socialicons3" src="/images/linkedin.png" alt="LinkedIn"></a>       
             </div>
         </div>
      </div>
      <p style="text-align: center; margin-top: 2rem;">© 2023 Convowave. All rights reserved.</p>
  </div>
</footer>
